manifest {
    name = 'nf-probeset'
    mainScript = 'main.nf'
}

process {
    executor = 'local'
    shell = ['/bin/bash', '-euo', 'pipefail']
}

profiles {
    standard {
        process.container = null
    }

    singularity {
        process.container = params.container

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "${projectDir}/.nextflow/singularity"
        }
    }
}
